{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<iframe style="margin-top: 30px; border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/track=3028174152/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="http://nordra.bandcamp.com/track/apologize-to-me-humanity">Apologize To Me, Humanity by Nordra</a></iframe>
<iframe style="margin-top: 30px; border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3990198634/size=large/bgcol=ffffff/linkcol=333333/minimal=true/transparent=true/" seamless><a href="http://nordra.bandcamp.com/album/tie-my-tubes">Tie My Tubes by Nordra</a></iframe>

{% endblock %}
