<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% import 'macros.html' as macros %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Nordra</title>

<!-- meta -->
<meta name="description" content="Nordra Music" />
<meta content="..." property="og:image"/>
<meta name="keywords" content="nordra music band seattle monika khot" />
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta property="og:title" content="Nordra"/>
<meta property="og:type" content="music"/>
<meta property="og:url" content="http://www.nordra.net"/>
<meta property="og:site_name" content="Nordra"/>
<meta property="og:description" content="nordra militant ambient industrial music"/>
<!-- /meta -->

<!-- styles -->
<link rel="image_src" href="/static/img/nordra_jacket_ss.png" />
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.1.0.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
<style>
  body {
    letter-spacing: 1px;
    /* cursor: url("http://www.cameronsworld.net/img/content/2/28.gif"), auto; */
    /* background: #666666 url(http://analogrules.com/counter3c.jpg) no-repeat center fixed; */
    font-family: 'Times New Roman';
  }

  input, button {
    border-radius: 0;
  }

  @font-face {
    font-family: Canterbury;
    src: url(/static/fonts/Canterbury.ttf);
  }

  .canterbury {
    font-family: Canterbury;
  }

  a {
    color: black;
    text-decoration: underline;
  }

  a:hover, a:active, a:focus {
    text-decoration: none;
    color: #d7efd0;
  }

  iframe {
    height: 200px;
    width: 200px;
  }

  @media (min-width: 500px) {
    body {
      margin-top: 30px;
    }

    iframe {
      height: 300px;
      width: 300px;
    }
  }
</style>
<!-- /styles -->

<!-- favicons -->
<link rel="shortcut icon" href="http://www.cameronsworld.net/img/content/2/28.gif">
<!-- /favicons -->

<!-- scripts -->
<script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
<!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
<!-- /scripts -->

</head>
<header style="display: none;">nordra music band seattle monika khot</header>
<body>

  <!-- Wrap all page content here -->
  <div id="wrap">


    <!-- Begin page content -->
    <main id="content" role="main" class="container-fluid">
      <div class="hidden-xs" style="height: 30px;"></div>
      <!-- Container for macro content -->
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div style="position: relative;">
            <h1 class="canterbury" style="color: #000000; font-weight: 500; letter-spacing: 11.4px; font-size: 60px;">NORDRA</h1>
            <h1 class="canterbury" style="color: #000000; font-weight: 500; letter-spacing: 11.4px; font-size: 60px; position: absolute; top: -19px; left: 4px;">NORDRA</h1>
          </div>
          <!-- Fixed navbar -->
          <!-- 
          <div class="nav"> 
            <a href="#music" data-toggle="toggle" data-target="#music-section">music</a>
            <br class="visible-xs">
            <a href="#updates" data-toggle="toggle" data-target="#updates-section">updates</a>
            <br class="visible-xs">
            <a href="http://zenmother.com" target="_blank">zen mother</a>
            <br class="visible-xs">
            <a href="#contact" data-toggle="toggle" data-target="#contact-section">contact</a>
          </div>
          -->
          <div class="hidden-xs" style="height: 50px;"></div>
          <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-4">
              <iframe style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/track=3028174152/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless><a href="http://nordra.bandcamp.com/track/apologize-to-me-humanity">Apologize To Me, Humanity by Nordra</a></iframe>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4">
              <iframe style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/album=188686871/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless><a href="http://nordra.bandcamp.com/album/pylon-ii">PYLON II by Nordra</a></iframe>
            </div>
          </div>

          <div class="hidden-xs" style="height: 60px;"></div>
          <div class="visible-xs" style="height: 10px;"></div>
          <small>Nordra booking, scoring inquiries: magickmuther(at)gmail(dot)com</small>
          <br>
          <small>Zen Mother booking: magiczenmother(at)gmail(dot)com</small>
          <div style="height: 40px;"></div>
          <small>S/T LP out on <a href="http://sigerecords.blogspot.com/" target="_blank">SIGE Records</a> April 2017.</small>
          <div style="height: 40px;"></div>

          <!-- email list -->
          <strong style="font-size: 14px; font-family: 'Canterbury';">JOIN MY EMAIL LIST</strong>
          <form class="form-inline" action="{{ url_for('signup_post') }}" method="post">
            <div class="form-group">
              <label class="hide" for="email">Email</label>
              <input id="email" type="email" name="email" class="form-control" placeholder="email address" style="border-radius: 0; width: 230px; font-size: 12px;">
            </div>
            <button type="submit" class="btn" style="background-color: black; font-size: 15px; color: white; border-radius: 0;">&#x25BD;</button>
          </form>

          {% block content %}
          {% endblock %}
        </div>

        <! -- Globe -->
        <div style="bottom: 0; right: 0; position: fixed;">
          <img src="http://www.cameronsworld.net/img/content/2/28.gif"/>
        </div>
      <div>
      
    </main>

  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>
  <script type="text/javascript" src="/static/js/plugins.js" defer></script>
  <script type="text/javascript" src="/static/js/script.js" defer></script>
  <script type="text/javascript">
    (function($) {
      $('.nav a').click(function() {
        $('#music-section, #updates-section, #contact-section').css('display', 'none');
        $($(this).data('target')).css('display', 'block');
      });
    })(jQuery);
  </script>
  <!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->
  <script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
  </script>
  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "MusicGroup",
      "name" : "Nordra",
      "url" : "http://www.nordra.net",
      "image" : "https://i1.sndcdn.com/avatars-000292015676-0ml00b-t500x500.jpg",
      "sameAs" : [
	"https://www.youtube.com/channel/UC-FU4cUhaYuvteuFDc68P7A",
	"https://soundcloud.com/nordra",
	"http://www.nordra.bandcamp.com"
      ]
    }
  </script>
</body>
</html>
